/* fade-transform */
.fade-transform-leave-active,
.fade-transform-enter-active {
  transition: all .3s;
}

.fade-transform-enter {
  opacity: 0;
  transform: translateX(100%);
}

.fade-transform-leave-to {
  opacity: 0;
  transform: translateX(100%);
}


/* home页过渡效果 */
.fade-leave-active,
.fade-enter-active {
  transition: opacity .5s;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}

/* tab变化时 */
.fade-tab-leave-active,
.fade-tab-enter-active {
  transition: all 0.5s;
}

.fade-tab-enter {
  opacity: 0;
  transform: translateX(-30px);
}

.fade-tab-leave-to {
  opacity: 0;
  transform: translateX(30px);
}